body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background: url(https://assets3.thrillist.com/v1/image/1813265/size/tmg-article_default_mobile.jpg) 50% 50% no-repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    color: cornflowerblue;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 250px;  /* to accomodate for the fixed headline header */
}
.container * {
    margin: auto;
    align-self: flex-start;
}

img {
    width: 400px;
}

.headline {
    position: fixed;
    margin-top: 0;
    padding: 10px 0 20px;
    background: rgba(256, 256, 256, .5);
    width: 100%;
}

#spanID {
    font-size: 18px;
    margin: 50px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    flex-basis: 500px;
    margin-top: 30px;
    border: double 6px pink;
    padding: 50px;
    background: rgba(161, 191, 248, .5);
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    background: url(sushi-icon-50x50.png) left center no-repeat;  /* to get the "icon" to center vertically */
    padding: 10px 0 10px 50px;
}